$N100: #fff;
$N200: #fafbfc;
$N300: #f4f5f7;
$N400: #8993a4;
$N500: #3f4752;
$N600: #2F353D;
$N700: #202328;
$N700: #17191C;
$N800: #8F3B01;
$N900: #793100;
$N1000: #241814;
$N1100: #D1BFA3;
$N1200: #000;
