$N100: #fff;
$N200: #fafbfc;
$N300: #f4f5f7;
$N400: #8993a4;
$N500: #3f4752;
$N600: #2F353D;
$N700: #202328;
$N700: #17191C;
$button: #8F3B01;
$links: #793100;
$header: #241814;
$cards: #D1BFA3;
$black: #000;
$aside: rgba(255, 255, 255, 0.5);
